
        {% extends 'updates/base.html' %}

        {% block content %}
        <div class="m-2">
        <h4>Recent updates</h4>
        </div>
        {% if access_records %}

        {% for acc in access_records %}
       
        <div class="card m-1">
        <div class="card-body">
            <h6><a href="{% url 'updates:detail' id=acc.id %}">{{ acc.title }}</a></h6>
            <p>{{ acc.body }}</p>
            <span>{{acc.date_pub}}</span>
            by&nbsp;<span>{{acc.author}}</span>
        </div>
        </div>

        {% endfor %}

        {% else %}
        <p>No Updates</p>
     
        {% endif%}
    {% endblock %}
